@font-face {
    font-family: 'iconfont';  /* Project id 2680005 */
    src: url('//at.alicdn.com/t/font_2680005_2v81j5og00f.woff2?t=1626424842361') format('woff2'),
    url('//at.alicdn.com/t/font_2680005_2v81j5og00f.woff?t=1626424842361') format('woff'),
    url('//at.alicdn.com/t/font_2680005_2v81j5og00f.ttf?t=1626424842361') format('truetype');
  }
   
  body {
    margin: 0;
    padding: 0;
  }
  *{
    box-sizing: border-box;
  }
  .myhead{
     background-color: lightpink;
     text-align: center;
     padding: 5px 0px 10px 0px;
     color: aliceblue;
   }
    table{
    margin: 0 auto;
  }
   #things{
     width: 180px;
     height: 30px;
     border-radius: 3px;
     outline: none;
     border: solid 1px white;
   }
   #add{
     display: inline-block;
     width: 80px;
     height: 30px;
     background-color: gainsboro;
     color: grey;
     border-radius: 3px;
     line-height: 30px;
   }
    #add:hover{
      cursor: pointer;
      background-color:darkgrey ;
      color: grey;
    }
  ul{
    margin: 0px;
    padding: 0px;
  }
    ul li{
      list-style: none;
      /*text-align: center;*/
      position: relative;
      padding-left:40px;
      height: 40px;
      line-height: 40px;
    }
    ul li:nth-child(odd) {
    background-color: #f9f9f9;
  }
    ul li:hover{
    cursor: pointer;
    background-color: #dddddd;
  }
   
    ul li.check{
    background-color: #888888;
    text-decoration: line-through;
    color: #f9f9f9;
  }
    ul li.check::before{
   
      content: '';
      position: absolute;
      border-color: #fff;
      border-style: solid;
      border-width: 0 2px 2px 0;
      top: 10px;
      left: 16px;
   
      transform: rotate(45deg);
      height: 15px;
      width: 7px;
  }
  .close{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px 20px;
    font-size: 16px;
  }
  .close:hover{
    background-color: #f44336;
    color: white;
  }